#nav {
    height: 80px;
    width: 100%;
    background-color: var(--serpentine);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

#nav a {
    color: #fff;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.username {
    text-transform: capitalize;
}